<a class="btn-minecraft"  href="/single">Singleplayer</a>
<a class="btn-minecraft"  href="/multi">Multi Player</a>
<a class="btn-minecraft"  href="/texture">Texture Packs</a>
<a class="btn-minecraft"  href="/options">Options</a>
<a class="btn-minecraft"  href="/quit">Quit Game</a>

